services:
  selenium:
    image: selenium/standalone-chromium
    hostname: selenium
    ports:
      - "4444:4444"
    environment: 
      - JAVA_OPTS=-Dwebdriver.chrome.whitelistedIps=
    volumes:
      - /dev/shm:/dev/shm
    restart: unless-stopped

  vgrical:
    build: .
    ports:
      - "5001:5000"
    depends_on:
      - selenium
    restart: unless-stopped